@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&display=swap');
body, *{
font-family: 'Lato', sans-serif;
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  
}

.container{
  margin-bottom: 20px;
}

.navbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-image: url('https://s.imgur.com/desktop-assets/desktop-assets/homebg.e52b5cdf24f83bcd55f9f1318855f2ef.png');
  height: 400px;
 width: 100%;
  padding: 20px;
}
 .search{
  margin-bottom: 20px;
  margin-top: 20px;
  width: 600px;
  background: hsla(0,0%,100%,.25);
    border-radius: 3px;
    outline: 0 none;
    opacity: .8;
    min-height: 36px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .4px;
}


.body-parts-container{
  margin: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
.body-parts-container button{
  padding: 6px 12px;
  border: none;
  border-radius: 2px;
cursor: pointer;
color: #fff;
font-size: 14px;
line-height: 1.15;
text-transform: capitalize;
font-weight: 800;
font-family: lato;
}
.exercises-wrapper{
  position: absolute;
 top:300px;
 width: 100%;
 margin: auto;
  display: flex;
 flex-direction: column;
align-items: center;
}
.exercises-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

}
.exercise-card{
      cursor: pointer;
    background-size: 145px;
    position: relative;
    color: #fff;
  text-decoration: none;
width: 360px;
border: 1px solid rgb(235, 235, 235);
border-radius: 15px;
height: 440px;
}
.exercise-card img{
  width: 358px;

 border-top-left-radius: 13px;
  border-top-right-radius: 13px; 
}
.exercise-card:hover{
  opacity: 0.9;
  background-color: #171544 !important;
}
.exercise-card p{
  color: white;
  font-weight: 700;
  margin-left: 20px;
  text-transform: capitalize;
font-size: 20px;
padding: 10px;
}
.loader{
  display: flex;
  justify-content: center;
  align-items: center;
 width: 100%;
}

.react-horizontal-scrolling-menu--scroll-container {
  overflow-x: hidden;
}

.arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 30px;
  background-color: aliceblue;
  color: rgb(228, 125, 87);
 font-size: 30px;
 border-radius: 4px;
}


.react-horizontal-scrolling-menu--wrapper {
    width: 100%;
}

.react-horizontal-scrolling-menu--wrapper{
  gap: 43px;
}
.detail-exercise{
  display: flex;
  gap: 20px;
justify-content: center;
flex-wrap: wrap;
    background-image: url('https://s.imgur.com/desktop-assets/desktop-assets/homebg.e52b5cdf24f83bcd55f9f1318855f2ef.png');

  height: 700px;
 
  width: 100%;
  color: white;
 padding-top: 30px;
}
.detail-exercise img{
  border-radius: 20px;
  height: 360px;
  width: 360px;
}
.detail-exercise .item{
  font-weight: 800;
  font-size: 20px;
}
.exercise-videos-wrapper{
  position: absolute;
 top:500px;
 width: 100%;
}
.exercise-videos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

}
.exercise-suggestions{
  margin-top: 240px;
}

.exercise-video{
      cursor: pointer;
    background-size: 145px;
    position: relative;
    color: #fff;
  text-decoration: none;
width: 360px;
border-radius: 12px;

}
.exercise-video img{
  width: 360px;
  height: 170px;
}


.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: rgb(228, 125, 87);
    color: white;
}
.videos-heading{
  color: white;
}
@media screen and (max-width:1000px){
.exercise-videos-wrapper{
    position: static;
    margin-top: 30px;

    
  }
  .exercise-videos{
    gap:20px
  }
  .exercise-suggestions{
  margin-top: 80px;
}
.exercise-card{
  width: 300px;
}
.exercise-card img{
  width: 298px;
}
.exercises-wrapper{
  top: 420px;
}
.search{
  width: 300px;
}

.react-horizontal-scrolling-menu--wrapper {
    gap: 2px;
}
.videos-heading{
  color: black;
}
}